
body{
    background-color: rgb(78, 78, 78);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body::-webkit-scrollbar{
    display: none;
}

.padmarg{
    padding: 0px;
    margin: 0px;
}

.hnav{
    background-image: linear-gradient(to bottom, rgb(5, 17, 48) , rgb(15, 34, 97));
    color: white;
}
.hbar{
    height: 3rem;
    background-color: rgb(78, 78, 78);
    color: white;
}
.hform{
    min-height: calc(100vw/3);
}
.hlinks{
    height: 28px;
    width: auto;
    transition: all;
}
.hlinks:hover{
    transform: scale(1.05);
}
.flexiconos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    vertical-align: middle;
}
.center{
    display: flex;
    justify-content:stretch;
}

span{
    display: none;
}

.nav-link{
    text-align: center;
    padding: 0px;
}
.anchocard{
    width:18rem;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
    transition: all;
    border: 8px;
}
.anchocard:hover{
    border-color: white;
    border-style: solid;
    border-width: 4px
}
.imgframe{
    width: 100%;
    height: auto;
    }

.backimg{
    overflow: hidden;
    background-image: url("../img/carrusel1.jpg");
    height: 18vw;
    background-position: center;
    background-size:100vw auto;
    margin-bottom: 8px;
}
.img2{
    background-image: url("../img/carrusel2.jpg");
}
.gris{
    background-color: rgba(43, 43, 43, 0.664);
    border-radius: 16px;
    width: 90vw;
    transition: all 1s;
}
.slogan{
    height: 20%;
    background-color: rgba(255, 255, 255, 0.534);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 1s;
}
.slogan:hover{
transform: scale(1.5);
}
.gris:hover{
    transform: scale(1.2);
}
.contact{
    background-image: url("../img/img5.png");
}

.card_img{
width: 25%;
height: auto;
}

@media (min-width:1024px){/*PARA DESKTOP*/
    span{
        display:inline;
        margin-left: 2px;
        margin-right: 2px;
        align-self: center;
    }
}

@media (max-width:720px){/*PARA MOBILE*/
    .anchocard{
        width: 90%;
    }
}