@import "partials/vars";
@import "partials/reset";
@import "partials/navBars";
@import "partials/body";
@import "partials/cards";
@import "partials/bgImages";
@import "partials/slogan";

.hlinks{
    height: 28px;
    width: auto;
    transition: all;
}
.hlinks:hover{
    transform: scale(1.05);
}

.center{
    display: flex;
    justify-content:stretch;
}

span{
    display: none;
}

.sticky2{
    position:sticky;
    top: 5rem;
    z-index: 1020;
}

@import "./partials/mediaquerys";