@import "partials/vars";
@import "partials/reset";
@import "partials/navBars";
@import "partials/body";
@import "partials/cards";
@import "partials/bgImages";
@import "partials/slogan";
@import "partials/btns";

@mixin sizeIconos ($altura,$ancho) {
    height: $altura;
    width: $ancho;
}

.hlinks{
    @include sizeIconos(28px,auto);
    transition: all;
    &.hover{
        transform: scale(1.05);
    }
}

.center{
    display: flex;
    justify-content:stretch;
}

span{
    display: none;
}

@import "./partials/mediaquerys";