$colorFondo:rgb(37, 37, 37);
$colorNavs:linear-gradient(to bottom, rgb(5, 17, 48) , rgb(15, 34, 97));
$colorBars: rgb(37, 37, 37);
$colorPrincipal:#2296eb;
$colorSecundario:rgb(13, 13, 80);

$tipografia:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
