.padmarg {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.hnav {
  background-image: linear-gradient(to bottom, rgb(5, 17, 48), rgb(15, 34, 97));
  color: white;
}

.nav-link {
  text-align: center;
  padding: 0px;
}

.hbar {
  height: 3rem;
  background-color: rgb(37, 37, 37);
  color: white;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

body {
  background-color: rgb(37, 37, 37);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  /*permite ocultar la scrollbar */
  display: none;
}

.anchocard {
  width: 18rem;
  padding: 0px;
  border-radius: 10px;
  overflow: hidden;
  transition: all;
  border: 8px;
}
.anchocard:hover {
  border-color: white;
  border-style: solid;
  border-width: 4px;
}

.card_img {
  width: 25%;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgframe {
  width: 100%;
  height: auto;
}

.backimg, .img4, .img3, .img2 {
  overflow: hidden;
  background-image: url("../img/carrusel1.jpg");
  height: 30vw;
  background-position: center;
  background-size: 100vw 100%;
  margin-bottom: 8px;
}

.img2 {
  background-image: url("../img/carrusel2.jpg");
}

.img3 {
  background-image: url("../img/img7.png");
}

.img4 {
  background-image: url("../img/img8.png");
}

.bgimg4 {
  background-image: url("../img/Light.svg");
  background-position: center;
  background-size: 100% 500px;
  background-repeat: no-repeat;
}

.bgsvg {
  background-image: url("../img/Polygon.svg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card_img:hover {
  opacity: 0.7;
}

.perfil {
  max-height: 200px;
  max-width: 200px;
}

.gris {
  background-color: rgba(226, 226, 226, 0.664);
  border-radius: 16px;
  width: auto;
  transition: all;
}
.gris:hover {
  transform: scale(1.1);
}

.slogan {
  color: rgb(13, 13, 80);
}
.slogan:hover {
  transform: scale(1.05);
}

.btn-outline-success {
  color: #2296eb;
  border-color: #2296eb;
}
.btn-outline-success:hover {
  background-color: #2296eb;
  border-color: #2296eb;
}
.btn-outline-success:active {
  background-color: #0072b1;
  border-color: #ffffff;
}
.btn-outline-success:focus {
  background-color: #0072b1;
  border-color: #ffffff;
}

.btn-success {
  background-color: #0072b1;
  border-color: transparent;
}
.btn-success:hover {
  background-color: #2296eb;
  border-color: #ffffff;
}
.btn-success:active {
  background-color: #0072b1;
  border-color: #ffffff;
}
.btn-success:focus {
  background-color: #0072b1;
  border-color: #ffffff;
}

.btn-outline-primary {
  border-color: grey;
  border-width: 2px;
  color: grey;
}

.btn-primary {
  background-color: #0072b1;
}
.btn-primary:hover {
  background-color: #2296eb;
  border-color: #ffffff;
}
.btn-primary:active {
  background-color: #2296eb;
  border-color: #ffffff;
}
.btn-primary:focus {
  background-color: #0072b1;
  border-color: #ffffff;
}

.btn-whatsapp {
  background-color: #25D366;
  border: none;
  border-radius: 10px;
}
.btn-whatsapp:hover {
  background-color: #25D366;
  transform: scale(1.05);
}
.btn-whatsapp:active {
  background-color: #25D366;
  border-color: #ffffff;
  border: #ffffff;
}
.btn-whatsapp:focus {
  background-color: #25D366;
  border-color: #ffffff;
}

.btn-linkedin {
  background-color: #0072b1;
  border: none;
  border-radius: 10px;
}
.btn-linkedin:hover {
  background-color: #0072b1;
  transform: scale(1.05);
}
.btn-linkedin:active {
  background-color: #0072b1;
  border-color: #ffffff;
  border: #ffffff;
}
.btn-linkedin:focus {
  background-color: #0072b1;
  border-color: #ffffff;
}

.btn-discord {
  background-color: #5865F2;
  border: none;
  border-radius: 10px;
}
.btn-discord:hover {
  background-color: #5865F2;
  transform: scale(1.05);
}
.btn-discord:active {
  background-color: #5865F2;
  border-color: #ffffff;
  border: #ffffff;
}
.btn-discord:focus {
  background-color: #5865F2;
  border-color: #ffffff;
}

.hlinks {
  height: 28px;
  width: auto;
  transition: all;
}
.hlinks:hover {
  transform: scale(1.1);
}
.hlinks:active {
  fill: #2296eb;
}

.center {
  display: flex;
  justify-content: stretch;
}

span {
  display: none;
}

label {
  display: block;
}

.mapa {
  border: 0px;
  width: 100%;
  height: 33.3333333333vw;
  display: flex;
  justify-self: center;
}

@media (min-width: 1024px) {
  /*PARA DESKTOP*/
  span {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    align-self: center;
  }
}
@media (max-width: 627px) {
  /*PARA MOBILE*/
  .anchocard {
    width: 90%;
  }

  .instagram-media {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */