.imgframe{
    width: 100%;
    height: auto;
    }

.backimg{
    overflow: hidden;
    background-image: url("../img/carrusel1.jpg");
    height: 30vw;
    background-position: center;
    background-size:100vw 100%;
    margin-bottom: 8px;
}
.img2{
    @extend .backimg;
    background-image: url("../img/carrusel2.jpg");
}
.img3{
    @extend .backimg;
    background-image: url("../img/img7.png");
}
.img4{
    @extend .backimg;
    background-image: url("../img/img8.png");
}
.bgimg4{
    background-image: url("../img/Light.svg");
    background-position: center;
    background-size:100% 500px;
    background-repeat: no-repeat;
}
.bgsvg{
    background-image:url("../img/Polygon.svg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.card_img:hover{
    opacity: 0.7;
}

.perfil{
    max-height: 200px;
    max-width: 200px;
}