@media (min-width:1024px){/*PARA DESKTOP*/
    span{
        display:inline;
        margin-left: 2px;
        margin-right: 2px;
        align-self: center;
    }
}

@media (max-width:627px){/*PARA MOBILE*/
    .anchocard{
        width: 90%;
    }

    .instagram-media{
        width: 90%;
    }

}